In [ ]:
#G2M insight for Cab Investment firm

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime

In [ ]:
cab_data = pd.read_csv("C:/Users/HAZARIKA/Desktop/cab_data.csv")
TransactionID_data = pd.read_csv("C:/Users/HAZARIKA/Desktop/Transaction_ID.csv")
City_data = pd.read_csv("C:/Users/HAZARIKA/Desktop/City.csv")
CustomerID_data = pd.read_csv("C:/Users/HAZARIKA/Desktop/Customer_ID.csv")

In [ ]:
cab_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Transaction ID</th>
      <th>Date of Travel</th>
      <th>Company</th>
      <th>City</th>
      <th>KM Travelled</th>
      <th>Price Charged</th>
      <th>Cost of Trip</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000011</td>
      <td>08/01/2016</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.635</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000012</td>
      <td>06/01/2016</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.854</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000013</td>
      <td>02/01/2016</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.632</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000014</td>
      <td>07/01/2016</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.602</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000015</td>
      <td>03/01/2016</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.776</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
cab_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 359392 entries, 0 to 359391
    Data columns (total 7 columns):
     #   Column          Non-Null Count   Dtype  
    ---  ------          --------------   -----  
     0   Transaction ID  359392 non-null  int64  
     1   Date of Travel  359392 non-null  object 
     2   Company         359392 non-null  object 
     3   City            359392 non-null  object 
     4   KM Travelled    359392 non-null  float64
     5   Price Charged   359392 non-null  float64
     6   Cost of Trip    359392 non-null  float64
    dtypes: float64(3), int64(1), object(3)
    memory usage: 19.2+ MB

In [ ]:
cab_data.shape





    (359392, 7)

In [ ]:
TransactionID_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 440098 entries, 0 to 440097
    Data columns (total 3 columns):
     #   Column          Non-Null Count   Dtype 
    ---  ------          --------------   ----- 
     0   Transaction ID  440098 non-null  int64 
     1   Customer ID     440098 non-null  int64 
     2   Payment_Mode    440098 non-null  object
    dtypes: int64(2), object(1)
    memory usage: 10.1+ MB

In [ ]:
TransactionID_data.shape





    (440098, 3)

In [ ]:
City_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 20 entries, 0 to 19
    Data columns (total 3 columns):
     #   Column      Non-Null Count  Dtype 
    ---  ------      --------------  ----- 
     0   City        20 non-null     object
     1   Population  20 non-null     object
     2   Users       20 non-null     object
    dtypes: object(3)
    memory usage: 608.0+ bytes

In [ ]:
City_data.shape





    (20, 3)

In [ ]:
CustomerID_data.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 49171 entries, 0 to 49170
    Data columns (total 4 columns):
     #   Column              Non-Null Count  Dtype 
    ---  ------              --------------  ----- 
     0   Customer ID         49171 non-null  int64 
     1   Gender              49171 non-null  object
     2   Age                 49171 non-null  int64 
     3   Income (USD/Month)  49171 non-null  int64 
    dtypes: int64(3), object(1)
    memory usage: 1.5+ MB

In [ ]:
CustomerID_data.shape





    (49171, 4)

In [ ]:
cab_data.isnull().sum()





    Transaction ID    0
    Date of Travel    0
    Company           0
    City              0
    KM Travelled      0
    Price Charged     0
    Cost of Trip      0
    dtype: int64

In [ ]:
TransactionID_data.isnull().sum()





    Transaction ID    0
    Customer ID       0
    Payment_Mode      0
    dtype: int64

In [ ]:
City_data.isnull().sum()





    City          0
    Population    0
    Users         0
    dtype: int64

In [ ]:
CustomerID_data.isnull().sum()





    Customer ID           0
    Gender                0
    Age                   0
    Income (USD/Month)    0
    dtype: int64

In [ ]:
for col in cab_data.columns:
    if ' ' in col:
        cab_data = cab_data.rename(columns={col:col.replace(' ','_')})

In [ ]:
for col in TransactionID_data.columns:
    if ' ' in col:
        TransactionID_data = TransactionID_data.rename(columns={col:col.replace(' ','_')})

In [ ]:
for col in CustomerID_data.columns:
    if ' ' in col:
        CustomerID_data = CustomerID_data.rename(columns={col:col.replace(' ','_')})

In [ ]:
cab_data['Date_of_Travel'] = pd.to_datetime(cab_data['Date_of_Travel'], format='%d/%m/%Y')

In [ ]:
months=[]
years =[]
for i in range(len(cab_data['Date_of_Travel'])):
    months.append(cab_data['Date_of_Travel'][i].month)
    years.append(cab_data['Date_of_Travel'][i].year)
cab_data['Month'] = months
cab_data['Year'] = years

cab_data.drop('Date_of_Travel', axis=1, inplace=True)

In [ ]:
# before doing EDA, let's split the dataset into Pink Cab and Yellow Cab
PinkCab = cab_data[cab_data['Company']=='Pink Cab']
YellowCab = cab_data[cab_data['Company']=='Yellow Cab']

In [ ]:
cab_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Transaction_ID</th>
      <th>Company</th>
      <th>City</th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000011</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.635</td>
      <td>1</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000012</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.854</td>
      <td>1</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000013</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.632</td>
      <td>1</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000014</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.602</td>
      <td>1</td>
      <td>2016</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000015</td>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.776</td>
      <td>1</td>
      <td>2016</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
plot0 = cab_data[cab_data.Company=='Pink Cab'].groupby(['Month']).Transaction_ID.count()
plot0





    Month
    1      5057
    2      3375
    3      4223
    4      4083
    5      4960
    6      5877
    7      6590
    8      7739
    9      9658
    10    10576
    11    11005
    12    11568
    Name: Transaction_ID, dtype: int64

In [ ]:
plt.figure(figsize=(14,6))
sns.barplot(x=plot0.index,y=plot0.values)
plt.title('Travel frequency by Month (Pink Cab)')
plt.show()

![png](output_24_0.png)

In [ ]:
plot10 = cab_data[cab_data.Company=='Yellow Cab'].groupby(['Month']).Transaction_ID.count()
plot10





    Month
    1     18117
    2     14932
    3     17423
    4     17351
    5     18741
    6     18836
    7     21086
    8     23584
    9     27201
    10    30276
    11    31695
    12    35439
    Name: Transaction_ID, dtype: int64

In [ ]:
plt.figure(figsize=(14,6))
sns.barplot(x=plot10.index,y=plot10.values)
plt.title('Travel frequency by Month (Yellow Cab)')
plt.show()

![png](output_26_0.png)

In [ ]:
# Yellow Cab has higher travels (35000) in the month of December which is the holiday season compared to Pink Cab (11000).

In [ ]:
overall_distance = cab_data['KM_Travelled'].describe()
PinkCab_distance = PinkCab['KM_Travelled'].describe()
YellowCab_distance = YellowCab['KM_Travelled'].describe()

In [ ]:
df = pd.DataFrame({'Overall': overall_distance.values,
                  'PinkCab': PinkCab_distance.values,
                  'YellowCab': YellowCab_distance.values}, index= ['Count', 'Mean', 'Std. Dev.', 'Min', '25%', '50%', '75%', 'Max'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Overall</th>
      <th>PinkCab</th>
      <th>YellowCab</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Count</th>
      <td>359392.000000</td>
      <td>84711.000000</td>
      <td>274681.000000</td>
    </tr>
    <tr>
      <th>Mean</th>
      <td>22.567254</td>
      <td>22.559917</td>
      <td>22.569517</td>
    </tr>
    <tr>
      <th>Std. Dev.</th>
      <td>12.233526</td>
      <td>12.231092</td>
      <td>12.234298</td>
    </tr>
    <tr>
      <th>Min</th>
      <td>1.900000</td>
      <td>1.900000</td>
      <td>1.900000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>12.000000</td>
      <td>12.000000</td>
      <td>11.990000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>22.440000</td>
      <td>22.440000</td>
      <td>22.440000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>32.960000</td>
      <td>32.960000</td>
      <td>32.960000</td>
    </tr>
    <tr>
      <th>Max</th>
      <td>48.000000</td>
      <td>48.000000</td>
      <td>48.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
ax = sns.distplot(PinkCab['KM_Travelled'], kde=False, color='green')
plt.title("Distribution of KM Travelled (Pink Cab)", fontsize=20, y=1.012)
plt.xlabel("KM Travelled", labelpad=15)
plt.ylabel("frequency", labelpad=15)

    C:\Users\HAZARIKA\anaconda3\lib\site-packages\seaborn\distributions.py:2551: FutureWarning: `distplot` is a deprecated function and will be removed in a future version. Please adapt your code to use either `displot` (a figure-level function with similar flexibility) or `histplot` (an axes-level function for histograms).
      warnings.warn(msg, FutureWarning)
    




    Text(0, 0.5, 'frequency')




    
![png](output_30_2.png)

In [ ]:
ax = sns.distplot(YellowCab['KM_Travelled'], kde=False, color='green')
plt.title("Distribution of KM Travelled (Yellow Cab)", fontsize=20, y=1.012)
plt.xlabel("KM Travelled", labelpad=15)
plt.ylabel("frequency", labelpad=15)





    Text(0, 0.5, 'frequency')




    
![png](output_31_1.png)

In [ ]:
#From the above graphs, we can see that most of the rides are in the range of approximately 2 to 48 KM.

In [ ]:
overall_price = cab_data['Price_Charged'].describe()
PinkCab_price = PinkCab['Price_Charged'].describe()
YellowCab_price = YellowCab['Price_Charged'].describe()

In [ ]:
df = pd.DataFrame({'Overall': overall_price.values,
                  'PinkCab': PinkCab_price.values,
                  'YellowCab': YellowCab_price.values}, index= ['Count', 'Mean', 'Std. Dev.', 'Min', '25%', '50%', '75%', 'Max'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Overall</th>
      <th>PinkCab</th>
      <th>YellowCab</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Count</th>
      <td>359392.000000</td>
      <td>84711.000000</td>
      <td>274681.000000</td>
    </tr>
    <tr>
      <th>Mean</th>
      <td>423.443311</td>
      <td>310.800856</td>
      <td>458.181990</td>
    </tr>
    <tr>
      <th>Std. Dev.</th>
      <td>274.378911</td>
      <td>181.995661</td>
      <td>288.386166</td>
    </tr>
    <tr>
      <th>Min</th>
      <td>15.600000</td>
      <td>15.600000</td>
      <td>20.730000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>206.437500</td>
      <td>159.970000</td>
      <td>226.680000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>386.360000</td>
      <td>298.060000</td>
      <td>425.060000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>583.660000</td>
      <td>441.505000</td>
      <td>633.880000</td>
    </tr>
    <tr>
      <th>Max</th>
      <td>2048.030000</td>
      <td>1623.480000</td>
      <td>2048.030000</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(20,7))
sns.boxplot(PinkCab['Price_Charged'], ax=ax1)
ax1.set_title('Pink Cab', fontsize=20)
sns.boxplot(YellowCab['Price_Charged'], ax=ax2)
ax2.set_title('Yellow Cab', fontsize=20)

    C:\Users\HAZARIKA\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
      warnings.warn(
    C:\Users\HAZARIKA\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
      warnings.warn(
    




    Text(0.5, 1.0, 'Yellow Cab')




    
![png](output_35_2.png)

In [ ]:
#Outliers
#These outliers are due to use of high-end cars so decided to keep it.
#The price charge range for Yellow cab is more than the Pink cab.

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=(20, 7))
sns.scatterplot(PinkCab['KM_Travelled'], PinkCab['Price_Charged'], ax=ax1)
ax1.set_title('Price vs Distance in Pink Cab', fontsize=20)
ax1.set_xticklabels(ax1.get_xticklabels(), rotation=0, fontsize=15)
sns.scatterplot(YellowCab['KM_Travelled'], YellowCab['Price_Charged'], ax=ax2)
ax2.set_title('Price vs Distance in Yellow Cab', fontsize=20)
ax2.set_xticklabels(ax2.get_xticklabels(), rotation=0, fontsize=15)

    C:\Users\HAZARIKA\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
      warnings.warn(
    <ipython-input-38-1cae77d1c2d5>:4: UserWarning: FixedFormatter should only be used together with FixedLocator
      ax1.set_xticklabels(ax1.get_xticklabels(), rotation=0, fontsize=15)
    C:\Users\HAZARIKA\anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
      warnings.warn(
    <ipython-input-38-1cae77d1c2d5>:7: UserWarning: FixedFormatter should only be used together with FixedLocator
      ax2.set_xticklabels(ax2.get_xticklabels(), rotation=0, fontsize=15)
    




    [Text(-10.0, 0, ''),
     Text(0.0, 0, ''),
     Text(10.0, 0, ''),
     Text(20.0, 0, ''),
     Text(30.0, 0, ''),
     Text(40.0, 0, ''),
     Text(50.0, 0, ''),
     Text(60.0, 0, '')]




    
![png](output_37_2.png)

In [ ]:
PinkCab['KM_Travelled'].corr(PinkCab['Price_Charged'])





    0.9277652782594857

In [ ]:
YellowCab['KM_Travelled'].corr(YellowCab['Price_Charged'])





    0.8597086294478461

In [ ]:
#Distance is one of the important factors, which drives the price of the rides. 
#We could see that there is a positive correlation in the graph for both Pink and Yellow cab.
#The price for Yellow cab is higher compared to Pink cab.

In [ ]:
plot1 = cab_data[cab_data.Company=='Pink Cab'].groupby('Year').Transaction_ID.count()
plot2 = cab_data[cab_data.Company=='Yellow Cab'].groupby('Year').Transaction_ID.count()
plt.figure(figsize=(14,6))
ax = plt.subplot(111)
ax.bar(plot1.index-0.2, plot1.values, width=0.4, color='pink', align='center',label='Pink Cab')
ax.bar(plot1.index+0.2, plot2.values, width=0.4, color='yellow', align='center',label='Yellow Cab')
plt.ylabel('No. of Transactions')
plt.xlabel('Year')
plt.legend()
plt.show()

![png](output_41_0.png)

In [ ]:
# From the graph it shows that on yearly basis no. of transactions for Yellow cab is higher than Pink cab.

In [ ]:
plot1 = cab_data[cab_data.Company=='Pink Cab'].groupby('Year').Transaction_ID.count()
plot3 = cab_data[cab_data.Company=='Pink Cab'].groupby('Year').Price_Charged.mean()
plot4 = cab_data[cab_data.Company=='Pink Cab'].groupby('Year').Cost_of_Trip.mean()
plt.figure(figsize=(9,4))
ax = plt.subplot(111)
ax.bar(plot1.index-0.2, plot4.values, width=0.4, color='blue', align='center',label='Cost of the Trip')
ax.bar(plot1.index+0.2, plot3.values, width=0.4, color='red', align='center',label='Price Charged')
plt.ylabel('Profit')
plt.xlabel('Year')
plt.title('Pink Cab', fontsize=20)
plt.legend()
plt.show()

![png](output_43_0.png)

In [ ]:
cab_data[cab_data.Company=='Pink Cab'].groupby('Year').Price_Charged.mean()





    Year
    2016    315.330113
    2017    315.907442
    2018    301.642530
    Name: Price_Charged, dtype: float64

In [ ]:
cab_data[cab_data.Company=='Pink Cab'].groupby('Year').Cost_of_Trip.mean()





    Year
    2016    247.008294
    2017    248.836603
    2018    248.412841
    Name: Cost_of_Trip, dtype: float64

In [ ]:
plot1 = cab_data[cab_data.Company=='Yellow Cab'].groupby('Year').Transaction_ID.count()
plot3 = cab_data[cab_data.Company=='Yellow Cab'].groupby('Year').Price_Charged.mean()
plot4 = cab_data[cab_data.Company=='Yellow Cab'].groupby('Year').Cost_of_Trip.mean()
plt.figure(figsize=(9,4))
ax = plt.subplot(111)
ax.bar(plot1.index-0.2, plot4.values, width=0.4, color='blue', align='center',label='Cost of the Trip')
ax.bar(plot1.index+0.2, plot3.values, width=0.4, color='red', align='center',label='Price Charged')
plt.ylabel('Profit')
plt.xlabel('Year')
plt.title('Yellow Cab', fontsize=20)
plt.legend()
plt.show()

![png](output_46_0.png)

In [ ]:
cab_data[cab_data.Company=='Yellow Cab'].groupby('Year').Price_Charged.mean()





    Year
    2016    467.918301
    2017    466.639950
    2018    440.875558
    Name: Price_Charged, dtype: float64

In [ ]:
cab_data[cab_data.Company=='Yellow Cab'].groupby('Year').Cost_of_Trip.mean()





    Year
    2016    298.570481
    2017    297.822893
    2018    297.459436
    Name: Cost_of_Trip, dtype: float64

In [ ]:
#The Yellow cab has a higher Profit Margin (Price Charged - Cost of Trip) compared to Pink cab

In [ ]:
plt.figure(figsize=(20,10))
sns.scatterplot(data=cab_data, x=PinkCab["KM_Travelled"], y=PinkCab['Cost_of_Trip'], hue="City")
plt.ylabel('Pink Cab Cost of trip')
plt.xlabel('Pink Cab KM Travelled')





    Text(0.5, 0, 'Pink Cab KM Travelled')




    
![png](output_50_1.png)

In [ ]:
plt.figure(figsize=(20,10))
sns.scatterplot(data=cab_data, x=YellowCab["KM_Travelled"], y=YellowCab['Cost_of_Trip'], hue="City")
plt.ylabel('Yellow Cab Costof Trip')
plt.xlabel('Yellow Cab KM Travelled')





    Text(0.5, 0, 'Yellow Cab KM Travelled')




    
![png](output_51_1.png)

In [ ]:
# From the graph we see that the cost of trip for both Pink and Yellow cab are almost the same.

In [ ]:
plt.figure(figsize=(20,10))
sns.scatterplot(data=cab_data, x=PinkCab["KM_Travelled"], y=PinkCab['Price_Charged'], hue="City")
plt.ylabel('Pink Cab Price Charged')
plt.xlabel('Pink Cab KM Travelled')





    Text(0.5, 0, 'Pink Cab KM Travelled')




    
![png](output_53_1.png)

In [ ]:
plt.figure(figsize=(20,10))
sns.scatterplot(data=cab_data, x=YellowCab["KM_Travelled"], y=YellowCab['Price_Charged'], hue="City")
plt.ylabel('Yellow Cab Price Charged')
plt.xlabel('Yellow Cab KM Travelled')





    Text(0.5, 0, 'Yellow Cab KM Travelled')




    
![png](output_54_1.png)

In [ ]:
# From the graphs we see that for New York City the Yellow Cab price charged is more in comparison to the other cities 
#and for Pink cab all the cities have the same increase in prices with increase in distance 
# the outliers exist in both the graphs  which may be due to high end cars or weather.

In [ ]:
#Creating Master Data
left = cab_data.set_index(['Transaction_ID'])
right = TransactionID_data.set_index(['Transaction_ID'])
data = left.join(right)
data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Company</th>
      <th>City</th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
      <th>Customer_ID</th>
      <th>Payment_Mode</th>
    </tr>
    <tr>
      <th>Transaction_ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10000011</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.6350</td>
      <td>1</td>
      <td>2016</td>
      <td>29290</td>
      <td>Card</td>
    </tr>
    <tr>
      <th>10000012</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.8540</td>
      <td>1</td>
      <td>2016</td>
      <td>27703</td>
      <td>Card</td>
    </tr>
    <tr>
      <th>10000013</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.6320</td>
      <td>1</td>
      <td>2016</td>
      <td>28712</td>
      <td>Cash</td>
    </tr>
    <tr>
      <th>10000014</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.6020</td>
      <td>1</td>
      <td>2016</td>
      <td>28020</td>
      <td>Cash</td>
    </tr>
    <tr>
      <th>10000015</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.7760</td>
      <td>1</td>
      <td>2016</td>
      <td>27182</td>
      <td>Card</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>10440101</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>4.80</td>
      <td>69.24</td>
      <td>63.3600</td>
      <td>1</td>
      <td>2018</td>
      <td>52392</td>
      <td>Cash</td>
    </tr>
    <tr>
      <th>10440104</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>8.40</td>
      <td>113.75</td>
      <td>106.8480</td>
      <td>1</td>
      <td>2018</td>
      <td>53286</td>
      <td>Cash</td>
    </tr>
    <tr>
      <th>10440105</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>27.75</td>
      <td>437.07</td>
      <td>349.6500</td>
      <td>1</td>
      <td>2018</td>
      <td>52265</td>
      <td>Cash</td>
    </tr>
    <tr>
      <th>10440106</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>8.80</td>
      <td>146.19</td>
      <td>114.0480</td>
      <td>1</td>
      <td>2018</td>
      <td>52175</td>
      <td>Card</td>
    </tr>
    <tr>
      <th>10440107</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>12.76</td>
      <td>191.58</td>
      <td>177.6192</td>
      <td>1</td>
      <td>2018</td>
      <td>52917</td>
      <td>Card</td>
    </tr>
  </tbody>
</table>
<p>359392 rows Ã— 9 columns</p>
</div>

In [ ]:
left = data.set_index([data.index,'Customer_ID'])
right = CustomerID_data.set_index(['Customer_ID'])
data = left.join(right)
data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Company</th>
      <th>City</th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
      <th>Payment_Mode</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Income_(USD/Month)</th>
    </tr>
    <tr>
      <th>Transaction_ID</th>
      <th>Customer_ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10000011</th>
      <th>29290</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.6350</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>28</td>
      <td>10813</td>
    </tr>
    <tr>
      <th>10000012</th>
      <th>27703</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.8540</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>27</td>
      <td>9237</td>
    </tr>
    <tr>
      <th>10000013</th>
      <th>28712</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.6320</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>53</td>
      <td>11242</td>
    </tr>
    <tr>
      <th>10000014</th>
      <th>28020</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.6020</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>23</td>
      <td>23327</td>
    </tr>
    <tr>
      <th>10000015</th>
      <th>27182</th>
      <td>Pink Cab</td>
      <td>ATLANTA GA</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.7760</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>33</td>
      <td>8536</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>10440101</th>
      <th>52392</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>4.80</td>
      <td>69.24</td>
      <td>63.3600</td>
      <td>1</td>
      <td>2018</td>
      <td>Cash</td>
      <td>Male</td>
      <td>24</td>
      <td>15651</td>
    </tr>
    <tr>
      <th>10440104</th>
      <th>53286</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>8.40</td>
      <td>113.75</td>
      <td>106.8480</td>
      <td>1</td>
      <td>2018</td>
      <td>Cash</td>
      <td>Male</td>
      <td>32</td>
      <td>6528</td>
    </tr>
    <tr>
      <th>10440105</th>
      <th>52265</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>27.75</td>
      <td>437.07</td>
      <td>349.6500</td>
      <td>1</td>
      <td>2018</td>
      <td>Cash</td>
      <td>Male</td>
      <td>56</td>
      <td>7966</td>
    </tr>
    <tr>
      <th>10440106</th>
      <th>52175</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>8.80</td>
      <td>146.19</td>
      <td>114.0480</td>
      <td>1</td>
      <td>2018</td>
      <td>Card</td>
      <td>Male</td>
      <td>32</td>
      <td>6423</td>
    </tr>
    <tr>
      <th>10440107</th>
      <th>52917</th>
      <td>Yellow Cab</td>
      <td>WASHINGTON DC</td>
      <td>12.76</td>
      <td>191.58</td>
      <td>177.6192</td>
      <td>1</td>
      <td>2018</td>
      <td>Card</td>
      <td>Male</td>
      <td>20</td>
      <td>11284</td>
    </tr>
  </tbody>
</table>
<p>359392 rows Ã— 11 columns</p>
</div>

In [ ]:
left = data.set_index([data.index,'City'])
right = City_data.set_index(['City'])
data = left.join(right)
data

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th></th>
      <th>Company</th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
      <th>Payment_Mode</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Income_(USD/Month)</th>
      <th>Population</th>
      <th>Users</th>
    </tr>
    <tr>
      <th>Transaction_ID</th>
      <th>Customer_ID</th>
      <th>City</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10000011</th>
      <th>29290</th>
      <th>ATLANTA GA</th>
      <td>Pink Cab</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.6350</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>28</td>
      <td>10813</td>
      <td>814,885</td>
      <td>24,701</td>
    </tr>
    <tr>
      <th>10000012</th>
      <th>27703</th>
      <th>ATLANTA GA</th>
      <td>Pink Cab</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.8540</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>27</td>
      <td>9237</td>
      <td>814,885</td>
      <td>24,701</td>
    </tr>
    <tr>
      <th>10000013</th>
      <th>28712</th>
      <th>ATLANTA GA</th>
      <td>Pink Cab</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.6320</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>53</td>
      <td>11242</td>
      <td>814,885</td>
      <td>24,701</td>
    </tr>
    <tr>
      <th>10000014</th>
      <th>28020</th>
      <th>ATLANTA GA</th>
      <td>Pink Cab</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.6020</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>23</td>
      <td>23327</td>
      <td>814,885</td>
      <td>24,701</td>
    </tr>
    <tr>
      <th>10000015</th>
      <th>27182</th>
      <th>ATLANTA GA</th>
      <td>Pink Cab</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.7760</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>33</td>
      <td>8536</td>
      <td>814,885</td>
      <td>24,701</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>10440101</th>
      <th>52392</th>
      <th>WASHINGTON DC</th>
      <td>Yellow Cab</td>
      <td>4.80</td>
      <td>69.24</td>
      <td>63.3600</td>
      <td>1</td>
      <td>2018</td>
      <td>Cash</td>
      <td>Male</td>
      <td>24</td>
      <td>15651</td>
      <td>418,859</td>
      <td>127,001</td>
    </tr>
    <tr>
      <th>10440104</th>
      <th>53286</th>
      <th>WASHINGTON DC</th>
      <td>Yellow Cab</td>
      <td>8.40</td>
      <td>113.75</td>
      <td>106.8480</td>
      <td>1</td>
      <td>2018</td>
      <td>Cash</td>
      <td>Male</td>
      <td>32</td>
      <td>6528</td>
      <td>418,859</td>
      <td>127,001</td>
    </tr>
    <tr>
      <th>10440105</th>
      <th>52265</th>
      <th>WASHINGTON DC</th>
      <td>Yellow Cab</td>
      <td>27.75</td>
      <td>437.07</td>
      <td>349.6500</td>
      <td>1</td>
      <td>2018</td>
      <td>Cash</td>
      <td>Male</td>
      <td>56</td>
      <td>7966</td>
      <td>418,859</td>
      <td>127,001</td>
    </tr>
    <tr>
      <th>10440106</th>
      <th>52175</th>
      <th>WASHINGTON DC</th>
      <td>Yellow Cab</td>
      <td>8.80</td>
      <td>146.19</td>
      <td>114.0480</td>
      <td>1</td>
      <td>2018</td>
      <td>Card</td>
      <td>Male</td>
      <td>32</td>
      <td>6423</td>
      <td>418,859</td>
      <td>127,001</td>
    </tr>
    <tr>
      <th>10440107</th>
      <th>52917</th>
      <th>WASHINGTON DC</th>
      <td>Yellow Cab</td>
      <td>12.76</td>
      <td>191.58</td>
      <td>177.6192</td>
      <td>1</td>
      <td>2018</td>
      <td>Card</td>
      <td>Male</td>
      <td>20</td>
      <td>11284</td>
      <td>418,859</td>
      <td>127,001</td>
    </tr>
  </tbody>
</table>
<p>359392 rows Ã— 12 columns</p>
</div>

In [ ]:
data.info()

    <class 'pandas.core.frame.DataFrame'>
    MultiIndex: 359392 entries, (10000011, 29290, 'ATLANTA GA') to (10440107, 52917, 'WASHINGTON DC')
    Data columns (total 12 columns):
     #   Column              Non-Null Count   Dtype  
    ---  ------              --------------   -----  
     0   Company             359392 non-null  object 
     1   KM_Travelled        359392 non-null  float64
     2   Price_Charged       359392 non-null  float64
     3   Cost_of_Trip        359392 non-null  float64
     4   Month               359392 non-null  int64  
     5   Year                359392 non-null  int64  
     6   Payment_Mode        359392 non-null  object 
     7   Gender              359392 non-null  object 
     8   Age                 359392 non-null  int64  
     9   Income_(USD/Month)  359392 non-null  int64  
     10  Population          359392 non-null  object 
     11  Users               359392 non-null  object 
    dtypes: float64(3), int64(4), object(5)
    memory usage: 50.3+ MB

In [ ]:
data = data.reset_index()

In [ ]:
data = data.rename(columns={'Income_(USD/Month)':'Income'})

In [ ]:
city_users = data.groupby('City').Users.count()
city_users





    City
    ATLANTA GA         7557
    AUSTIN TX          4896
    BOSTON MA         29692
    CHICAGO IL        56625
    DALLAS TX          7017
    DENVER CO          3825
    LOS ANGELES CA    48033
    MIAMI FL           6454
    NASHVILLE TN       3010
    NEW YORK NY       99885
    ORANGE COUNTY      3982
    PHOENIX AZ         2064
    PITTSBURGH PA      1313
    SACRAMENTO CA      2367
    SAN DIEGO CA      20488
    SEATTLE WA         7997
    SILICON VALLEY     8519
    TUCSON AZ          1931
    WASHINGTON DC     43737
    Name: Users, dtype: int64

In [ ]:
city_y = data[data.Company=='Yellow Cab'].groupby('City').Transaction_ID.count()
city_y





    City
    ATLANTA GA         5795
    AUSTIN TX          3028
    BOSTON MA         24506
    CHICAGO IL        47264
    DALLAS TX          5637
    DENVER CO          2431
    LOS ANGELES CA    28168
    MIAMI FL           4452
    NASHVILLE TN       1169
    NEW YORK NY       85918
    ORANGE COUNTY      2469
    PHOENIX AZ         1200
    PITTSBURGH PA       631
    SACRAMENTO CA      1033
    SAN DIEGO CA       9816
    SEATTLE WA         5265
    SILICON VALLEY     4722
    TUCSON AZ          1132
    WASHINGTON DC     40045
    Name: Transaction_ID, dtype: int64

In [ ]:
labs = city_users.index
vals = city_users.values
figp, axp = plt.subplots(figsize=(20,10))
axp.pie(vals , labels=labs, autopct='%1.1f%%',shadow=True, startangle=90,)
axp.axis('equal')

plt.title('Users per City')
plt.show()

![png](output_64_0.png)

In [ ]:
# New York City has the highest Cab users with 28% followed by Chicago with 16% and Los Angeles with 13%

In [ ]:
labs = city_y.index
vals = city_y.values
figp, axp = plt.subplots(figsize=(20,10))
axp.pie(vals , labels=labs, autopct='%1.1f%%',shadow=True, startangle=90,)
axp.axis('equal')

plt.title('Transaction per City for Yellow Cab')
plt.show()

![png](output_66_0.png)

In [ ]:
city_p = data[data.Company=='Pink Cab'].groupby('City').Transaction_ID.count()
city_p





    City
    ATLANTA GA         1762
    AUSTIN TX          1868
    BOSTON MA          5186
    CHICAGO IL         9361
    DALLAS TX          1380
    DENVER CO          1394
    LOS ANGELES CA    19865
    MIAMI FL           2002
    NASHVILLE TN       1841
    NEW YORK NY       13967
    ORANGE COUNTY      1513
    PHOENIX AZ          864
    PITTSBURGH PA       682
    SACRAMENTO CA      1334
    SAN DIEGO CA      10672
    SEATTLE WA         2732
    SILICON VALLEY     3797
    TUCSON AZ           799
    WASHINGTON DC      3692
    Name: Transaction_ID, dtype: int64

In [ ]:
labs = city_p.index
vals = city_p.values
figp, axp = plt.subplots(figsize=(20,10))
axp.pie(vals , labels=labs, autopct='%1.1f%%',shadow=True, startangle=90,)
axp.axis('equal')

plt.title('Transaction per City for Pink Cab')
plt.show()

![png](output_68_0.png)

In [ ]:
#Transaction for Yellow Cab is highest in New York City which has the highest Cab Users of 28%
#Transaction for Pink Cab is highest in Los Angeles City

In [ ]:
gender_y=data[data.Company=='Yellow Cab'].groupby('Gender').Price_Charged.mean()

In [ ]:
labs = gender_y.index
vals = gender_y.values
figp, axp = plt.subplots(figsize=(20,10))
axp.pie(vals , labels=labs, autopct='%1.1f%%',shadow=True, startangle=90,)
axp.axis('equal')

plt.title('Price Charged per Gender for Yellow Cab')
plt.show()

![png](output_71_0.png)

In [ ]:
gender_p=data[data.Company=='Pink Cab'].groupby('Gender').Price_Charged.mean()

In [ ]:
labs = gender_p.index
vals = gender_p.values
figp, axp = plt.subplots(figsize=(20,10))
axp.pie(vals , labels=labs, autopct='%1.1f%%',shadow=True, startangle=90,)
axp.axis('equal')

plt.title('Price Charged per Gender for Pink Cab')
plt.show()

![png](output_73_0.png)

In [ ]:
#Yellow Cab charge less from Female Customers whereas Pink Cab charges same for both Male and Female Customers.

In [ ]:
gender_cab=data.groupby(['Company','Gender']).Customer_ID.nunique()
gender_cab





    Company     Gender
    Pink Cab    Female    14819
                Male      17511
    Yellow Cab  Female    18394
                Male      21502
    Name: Customer_ID, dtype: int64

In [ ]:
labs = gender_cab.index
vals = gender_cab.values
figp, axp = plt.subplots(figsize=(20,10))
axp.pie(vals , labels=labs, autopct='%1.1f%%',shadow=True, startangle=90,)
axp.axis('equal')

plt.title('Customer share per gender per cab')
plt.show()

![png](output_76_0.png)

In [ ]:
# Female Customers in Yellow Cab is higher compared to Male customers

In [ ]:
data['Margins'] = (data['Price_Charged']-data['Cost_of_Trip'])

In [ ]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Transaction_ID</th>
      <th>Customer_ID</th>
      <th>City</th>
      <th>Company</th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
      <th>Payment_Mode</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Income</th>
      <th>Population</th>
      <th>Users</th>
      <th>Margins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000011</td>
      <td>29290</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.635</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>28</td>
      <td>10813</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>57.315</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000012</td>
      <td>27703</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.854</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>27</td>
      <td>9237</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>23.666</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000013</td>
      <td>28712</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.632</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>53</td>
      <td>11242</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>27.568</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000014</td>
      <td>28020</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.602</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>23</td>
      <td>23327</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>25.798</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000015</td>
      <td>27182</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.776</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>33</td>
      <td>8536</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>16.844</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
data['Margins'] = (data['Price_Charged']-data['Cost_of_Trip'])

In [ ]:
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Transaction_ID</th>
      <th>Customer_ID</th>
      <th>City</th>
      <th>Company</th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
      <th>Payment_Mode</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Income</th>
      <th>Population</th>
      <th>Users</th>
      <th>Margins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>10000011</td>
      <td>29290</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>30.45</td>
      <td>370.95</td>
      <td>313.635</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>28</td>
      <td>10813</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>57.315</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10000012</td>
      <td>27703</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>28.62</td>
      <td>358.52</td>
      <td>334.854</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>27</td>
      <td>9237</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>23.666</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10000013</td>
      <td>28712</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>9.04</td>
      <td>125.20</td>
      <td>97.632</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>53</td>
      <td>11242</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>27.568</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10000014</td>
      <td>28020</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>33.17</td>
      <td>377.40</td>
      <td>351.602</td>
      <td>1</td>
      <td>2016</td>
      <td>Cash</td>
      <td>Male</td>
      <td>23</td>
      <td>23327</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>25.798</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10000015</td>
      <td>27182</td>
      <td>ATLANTA GA</td>
      <td>Pink Cab</td>
      <td>8.73</td>
      <td>114.62</td>
      <td>97.776</td>
      <td>1</td>
      <td>2016</td>
      <td>Card</td>
      <td>Male</td>
      <td>33</td>
      <td>8536</td>
      <td>814,885</td>
      <td>24,701</td>
      <td>16.844</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
df = data[['KM_Travelled','Price_Charged','Cost_of_Trip','Month','Year','Age','Income','Margins']]
df.corr()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>KM_Travelled</th>
      <th>Price_Charged</th>
      <th>Cost_of_Trip</th>
      <th>Month</th>
      <th>Year</th>
      <th>Age</th>
      <th>Income</th>
      <th>Margins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>KM_Travelled</th>
      <td>1.000000</td>
      <td>0.835753</td>
      <td>0.981848</td>
      <td>-0.001903</td>
      <td>-0.001072</td>
      <td>-0.000369</td>
      <td>-0.000544</td>
      <td>0.462768</td>
    </tr>
    <tr>
      <th>Price_Charged</th>
      <td>0.835753</td>
      <td>1.000000</td>
      <td>0.859812</td>
      <td>-0.061116</td>
      <td>-0.036409</td>
      <td>-0.003084</td>
      <td>0.003228</td>
      <td>0.864154</td>
    </tr>
    <tr>
      <th>Cost_of_Trip</th>
      <td>0.981848</td>
      <td>0.859812</td>
      <td>1.000000</td>
      <td>-0.008370</td>
      <td>-0.001773</td>
      <td>-0.000189</td>
      <td>-0.000633</td>
      <td>0.486056</td>
    </tr>
    <tr>
      <th>Month</th>
      <td>-0.001903</td>
      <td>-0.061116</td>
      <td>-0.008370</td>
      <td>1.000000</td>
      <td>-0.030490</td>
      <td>-0.002226</td>
      <td>0.000322</td>
      <td>-0.096352</td>
    </tr>
    <tr>
      <th>Year</th>
      <td>-0.001072</td>
      <td>-0.036409</td>
      <td>-0.001773</td>
      <td>-0.030490</td>
      <td>1.000000</td>
      <td>-0.000579</td>
      <td>-0.001617</td>
      <td>-0.060567</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>-0.000369</td>
      <td>-0.003084</td>
      <td>-0.000189</td>
      <td>-0.002226</td>
      <td>-0.000579</td>
      <td>1.000000</td>
      <td>0.003907</td>
      <td>-0.005093</td>
    </tr>
    <tr>
      <th>Income</th>
      <td>-0.000544</td>
      <td>0.003228</td>
      <td>-0.000633</td>
      <td>0.000322</td>
      <td>-0.001617</td>
      <td>0.003907</td>
      <td>1.000000</td>
      <td>0.006148</td>
    </tr>
    <tr>
      <th>Margins</th>
      <td>0.462768</td>
      <td>0.864154</td>
      <td>0.486056</td>
      <td>-0.096352</td>
      <td>-0.060567</td>
      <td>-0.005093</td>
      <td>0.006148</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
plt.figure(figsize=(20,10))
sns.heatmap(df.corr(),annot=True,vmin=-1,vmax=1,cmap='coolwarm')





    <AxesSubplot:>




    
![png](output_83_1.png)

In [ ]:
#There is a correlation between Margin & Price_Charged

In [ ]:
city_m = data[data.Month==12].groupby('City').Margins.mean()
city_m





    City
    ATLANTA GA         95.844236
    AUSTIN TX          90.535487
    BOSTON MA          61.158200
    CHICAGO IL         49.166594
    DALLAS TX         107.653009
    DENVER CO         111.229893
    LOS ANGELES CA     78.671170
    MIAMI FL           98.341176
    NASHVILLE TN       78.562585
    NEW YORK NY       256.663241
    ORANGE COUNTY      71.696141
    PHOENIX AZ         72.779471
    PITTSBURGH PA      50.946547
    SACRAMENTO CA      23.995713
    SAN DIEGO CA       67.587428
    SEATTLE WA         75.043692
    SILICON VALLEY    161.907324
    TUCSON AZ          83.594826
    WASHINGTON DC      60.778328
    Name: Margins, dtype: float64

In [ ]:
dt1 = data[(data.Company=='Pink Cab')&(data.City=='NEW YORK NY')].groupby(['Year','Month']).Margins.mean()
dt2 = data[(data.Company=='Yellow Cab')&(data.City=='NEW YORK NY')].groupby(['Year','Month']).Margins.mean()

In [ ]:
dd1 = pd.DataFrame({'Margins_pink':dt1.values,'Transactions_pink':data[data.Company=='Pink Cab'].groupby(['Year','Month']).Transaction_ID.count().values})

In [ ]:
dd2 = pd.DataFrame({'Margins_yellow':dt2.values,'Transactions_yellow':data[data.Company=='Yellow Cab'].groupby(['Year','Month']).Transaction_ID.count().values})

In [ ]:
#Monthly Margins of Pink Cab

In [ ]:
plt.figure(figsize=(5,5))
sns.scatterplot(x=dd1.Transactions_pink,y=dd1.Margins_pink)





    <AxesSubplot:xlabel='Transactions_pink', ylabel='Margins_pink'>




    
![png](output_90_1.png)

In [ ]:
#Pink Cabs increase their margins with increase in number of Transactions

In [ ]:
#Margins for Yellow cabs

In [ ]:
plt.figure(figsize=(5,5))
sns.scatterplot(x=dd2.Transactions_yellow,y=dd2.Margins_yellow)





    <AxesSubplot:xlabel='Transactions_yellow', ylabel='Margins_yellow'>




    
![png](output_93_1.png)

In [ ]:
#Yellow Cab decrease the Margin with the increase in Transaction

In [ ]:
# Null Hypothesis:Margin remain the same regarding Gender for both Yellow Cab & Pink Cab

In [ ]:
a = data[(data.Gender=='Female')&(data.Company=='Yellow Cab')].groupby('Transaction_ID').Margins.mean()
b = data[(data.Gender=='Male')&(data.Company=='Yellow Cab')].groupby('Transaction_ID').Margins.mean()
print(a.shape[0],b.shape[0])

from scipy import stats
_, p_value = stats.ttest_ind(a.values,b=b.values,equal_var=True)
if(p_value<0.05):
    print('We accept alternate hypothesis that there is a statistical difference')
else:
    print('We accept null hypothesis that there is no statistical difference')
    
print('P value is ', p_value)

    116000 158681
    We accept alternate hypothesis that there is a statistical difference
    P value is  6.060473042494144e-25

In [ ]:
#Yellow Cab: There is difference in Margin between Male and Female customers

In [ ]:
#For Pink Cabs
a = data[(data.Gender=='Female')&(data.Company=='Pink Cab')].groupby('Transaction_ID').Margins.mean()
b = data[(data.Gender=='Male')&(data.Company=='Pink Cab')].groupby('Transaction_ID').Margins.mean()
print(a.shape[0],b.shape[0])

from scipy import stats
_, p_value = stats.ttest_ind(a.values,b=b.values,equal_var=True)
if(p_value<0.05):
    print('We accept alternate hypothesis that there is a difference')
else:
    print('We accept null hypothesis that there is no difference')
    
print('P value is ', p_value)

    37480 47231
    We accept null hypothesis that there is no difference
    P value is  0.11515305900425798

In [ ]:
#Pink Cab: There is no difference in Margin between Male and Female customers

In [ ]:
#Margins per Age
data[data.Age<=50].groupby('Company').Margins.mean()





    Company
    Pink Cab       62.765586
    Yellow Cab    161.081921
    Name: Margins, dtype: float64

In [ ]:
data[data.Age>50].groupby('Company').Margins.mean()





    Company
    Pink Cab       62.053044
    Yellow Cab    155.855885
    Name: Margins, dtype: float64

In [ ]:
#Pink Cab
a = data[(data.Age<=50)&(data.Company=='Pink Cab')].groupby('Transaction_ID').Margins.mean()
b = data[(data.Age>50)&(data.Company=='Pink Cab')].groupby('Transaction_ID').Margins.mean()
print(a.shape[0],b.shape[0])

from scipy import stats
_, p_value = stats.ttest_ind(a.values,b=b.values,equal_var=True)
if(p_value<0.05):
    print('We accept alternate hypothesis that theres a difference')
else:
    print('We accept null hypothesis that theres no difference')
    
print('P value is ', p_value)

    71228 13483
    We accept null hypothesis that theres no difference
    P value is  0.3281748754798163

In [ ]:
#Yellow Cab
a = data[(data.Age<=50)&(data.Company=='Yellow Cab')].groupby('Transaction_ID').Margins.mean()
b = data[(data.Age>50)&(data.Company=='Yellow Cab')].groupby('Transaction_ID').Margins.mean()
print(a.shape[0],b.shape[0])

from scipy import stats
_, p_value = stats.ttest_ind(a.values,b=b.values,equal_var=True)
if(p_value<0.05):
    print('We accept alternate hypothesis that theres a difference')
else:
    print('We accept null hypothesis')
    
print('P value is ', p_value)

    231480 43201
    We accept alternate hypothesis that theres a difference
    P value is  6.4942568177993685e-09

In [ ]:
#Yellow Cabs also gives discount to people older than 50

In [ ]:
#Is there difference in margins for Card payer and Cash payers

In [ ]:
#Pink Cab
a = data[(data.Payment_Mode=='Cash')&(data.Company=='Pink Cab')].groupby('Transaction_ID').Margins.mean()
b = data[(data.Payment_Mode=='Card')&(data.Company=='Pink Cab')].groupby('Transaction_ID').Margins.mean()


_, p_value = stats.ttest_ind(a.values,b=b.values,equal_var=True)
if(p_value<0.05):
    print('We accept alternate hypothesis that theres a difference')
else:
    print('We accept null hypothesis that theres no difference')
    
print('P value is ', p_value)

    We accept null hypothesis that theres no difference
    P value is  0.7900465828793288

In [ ]:
#Yellow Cab
a = data[(data.Payment_Mode=='Cash')&(data.Company=='Yellow Cab')].groupby('Transaction_ID').Margins.mean()
b = data[(data.Payment_Mode=='Card')&(data.Company=='Yellow Cab')].groupby('Transaction_ID').Margins.mean()


_, p_value = stats.ttest_ind(a.values,b=b.values,equal_var=True)
if(p_value<0.05):
    print('We accept alternate hypothesis that there is a statistical difference')
else:
    print('We accept null hypothesis that there is no statistical difference')
    
print('P value is ', p_value)

    We accept null hypothesis that there is no statistical difference
    P value is  0.29330606382985325

In [ ]:
#There is no difference in Margin regarding mode of Payment for both Yellow & Pink Cab